@import url('https://fonts.googleapis.com/css2? family= Justo & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

.pai {
    width: 414px;
    height: 1026px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEEEEE;


    position: relative;
}

.topo {
    width: 100%;
    height: 92px;
    margin-bottom: 92px;
    background-color: #CF2B2B;

    position: absolute;
    top: 0px;
    left: 0px;
}

.texto-topo {
    width: 248px;
    height: 66px;
    margin: 8px 0px 18px 21px;

}

.texto-topo h1 {
    width: 100%;
    height: 44px;
    margin-bottom: 5px;

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    color: #FFFFFF;

}

.texto-topo p {
    width: 100%;
    height: 17px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;

}

.meio {
    width: 100%;
    height: 842px;
    margin: auto;
    overflow: scroll;
}

.caixa-a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 258px;
    margin-top: 31px;
    margin-bottom: 27px;
}

.caixa-b {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 244px;
    margin-bottom: 27px;
}

.caixa-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 239px;
    margin-bottom: 27px;
}

.titulo {
    width: 320px;
    height: 25px;
    margin-left: 19px;
}

.titulo h2 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;

    color: #333333;
}

.caixas {
    display: flex;
}

.caixinha-1 {
    width: 172px;
    height: 216px;
    margin-left: 19px;
    border-radius: 9px;
    background: #FFFFFF;
}

.caixinha-4 {
    width: 172px;
    height: 202px;
    margin-left: 19px;
    border-radius: 9px;
    background: #FFFFFF;
}

.caixinha-3 {
    width: 172px;
    height: 197px;
    margin-left: 19px;
    border-radius: 9px;
    background: #FFFFFF;
}

.caixinha-2 {
    width: 144px;
    height: 185px;
    margin: 18px 14px 13px 14px;
}

.caixinha-2 img {
    width: 100%;
    margin-bottom: 8px;
}

.caixinha-2 h2 {
    height: 23px;
    margin-bottom: 4px;

    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
}

.caixinha-2 p { 
    height: 39px;
    margin-bottom: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #A6A6A6;
}

.caixinha-2 h1 {
    height: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;


    color: #000000;
}

.fim {
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;

    position: absolute;
    bottom: 0px;
    left: 0px;

}

.botao {
    width: 364px;
    height: 61px;
    left: 25px;
    bottom: 16px;

    background: #CBCBCB;
    border-radius: 50px;
    margin: 15px 25px 16px 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}