/* fontes
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
*/

* {
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

.topo {
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.3);
    
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.topo h1 {
    height: 44px;
    margin: 8px 0px 5px 21px;
    color: #FFFFFF;

    font-family: 'Righteous', cursive;
    font-size: 44px;
    line-height: 55px;
}

.topo p {
    height: 17px;
    margin-left: 21px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.container {
    padding: 92px 0px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.menu {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.menu::-webkit-scrollbar {
    display: none;
}

.titulo {
    height: 25px;
    margin-top: 30px;
    margin-bottom: 20px;

    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7em;
    line-height: 32px;
    color: #333333;
}

.pratos {
    width: 172px;
    padding: 18px 14px 13px 14px;
    margin-right: 15px;
    background: #FFFFFF;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
}

.pratos img {
    width: 144px;
    height: 87px;
    border-radius: 9px;
    margin-bottom: 8px;
}

.pratos h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.pratos p {
    margin: 10px 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

.pratos h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.escondido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0);
}

.aparecer {
    color: rgba(50, 183, 47, 1);
}

.roda-pe {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 92px;
    background-color: #FFFFFF;

    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}

.ativar {
    width: 364px;
    height: 61px;
    margin: 15px auto;
    background-color: #CBCBCB;
    border: none;
    border-radius: 50px;
}

.roda-pe button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.esconder {
    display: none;
}

/* .pou-pop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.pou-pop::-webkit-scrollbar {
    display: none;
}

.confirmação {
    width: 377px;
    height: 353px;
    background-color: #50D074;
    border-radius: 9px;
}

.confirmação::-webkit-scrollbar {
    display: none;
} */
/* JAVASCRIPT */

.borda1, .borda2, .borda3 {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}

.ativadorBotao {
    background-color: #32B72F;
}